<launch>
    <arg name="baudrate" default="1000000"/>
    <arg name="motor_list" default="11,12,13,14,15"/>

    <node name="virtual_leader_node" pkg="om_teleop" type="rt_control.py" output="screen">
        <param name="sleep_time" type='double' value="3.0"/>
        <param name="freq" type='int' value="10"/>
        <param name="exp_time" type='int' value="10"/>
        <param name="motor_list" value="$(arg motor_list)"/>
        <param name="model_path" type='str' value="~/om_ws/src/om_teleop/om_grasp_cube/SARNN/log/XXXXXXXX_XXXX_XX/SARNN.pth"/>
        <param name="input_param" type='double' value="1.0"/>
    </node>

    <node name="dxl_follower_node" pkg="om_teleop" type="follower_bringup.py" output="screen">
        <param name="freq" type='int' value="50"/>
        <param name="device" value="/dev/ttyUSB0"/>
        <param name="baudrate" value="$(arg baudrate)"/>
        <param name="motor_list" value="$(arg motor_list)"/>
    </node>

    <node name="interpolator_node" pkg="om_teleop" type="interplation_node.py" output="screen">
        <param name="control_freq" type='int' value="50"/>
        <param name="target_freq" type='int' value="10"/>
    </node>
    
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    </include>

    <node pkg="image_view" type="image_view" name="image_view" output="screen">
        <remap from="image" to="/camera/concat/image"/>
    </node>

</launch>
